.v-slider__tick
    width: 0 !important
.primary
    cursor: pointer !important
.v-slider__thumb::before
    background: white
    opacity: 1
.v-slider__thumb-container:hover .v-slider__thumb::before
    transform: scale(0.1)
.v-slider__thumb-container--active .v-slider__thumb::before
    transform: scale(0.1) !important
.v-slider__thumb-container--focused .v-slider__thumb::before
    transform: scale(0.1)
.v-slider__tick-label
    font-size: 0.5em